<div class="frm-content-wrap">
		<div class="frm-row">
			<div class="frm-field field-half">
				<div class="frm-field-title">
					<input type="text" class="form-input">
					<div class="field-title">Ваше имя</div>
				</div>
			</div>
			<div class="frm-field field-half">
				<div class="frm-field-title">
					<input type="tel" class="form-input">
					<div class="field-title">Номер телефона</div>
				</div>
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field">
				<div class="frm-field-title">
					<textarea class="form-input"></textarea>
					<div class="field-title">Опишите задачу</div>
				</div>
			</div>
		</div>
		<div class="frm-row-submit">
			<div class="frm-field field-attach">
				<div class="frm-field-file">
					<div class="field-file-input">
						<a href="" class="btn">
							<span class="button-title" data-title="Прикрепите исходники">Прикрепите исходники</span>
						</a>
						<input type="file">
					</div>
					<div class="field-file-desc">Если у вас уже есть логотип, какие-то готовые текстовые, графические материалы,  присылайте. Это ускорит обработку и расчёт заказа.</div>
				</div>
			</div>
			<div class="frm-field field-submit">
				<button type="submit" class="btn button-submit">Отправить</button>
				<div class="frm-select">
					<input type="checkbox" id="frm">
					<label for="frm">
						<span class="lbl-title">Нажимая «Отправить», я соглашаюсь с&nbsp;<a href="" class="link-main">Политикой обработки персональных данных</a>.</span>
					</label>
				</div>
			</div>
		</div>
	</div>