
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="phone-wrap">
			<a href="tel:89163418022" class="link-phone">+7 916 341 80 22</a>
		</div>
		<div class="popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-toggle">
				<span></span>
			</a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-title">МЫ:</div>
				<div class="menu-wrap">
					<ul class="menu">
						<li><a href="">создаём</a></li>
						<li><a href="">создали</a></li>
						<li><a href="">прототипируем</a></li>
						<li><a href="">на карте</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->